@charset "utf-8";
/* CSS Document */
 #navbarResponsive li :hover
{
	color: blue;
}
.navbar-expand-sm{
    padding: 0px 55px 0px 55px;
}
.col-md-12-tilte{
    padding-top: 80px ;
    padding-bottom: 45px ;
}
.btn-create{
    
    background-color: cornflowerblue;
    color: white; 
    border: 0px; 
    font-size: 30px; 
    width: 200px; 
    border-radius:4px;
    
}
.btn-create:hover{
    background-color: rgb(48, 117, 245);
}
.rowFooter{
	background-color: #f8f9fa;
	
}
.footer-line1{
    text-align: center;
	padding: 10px;
    
}
.ftr-media{
    color: black;
    margin: 0px 0px 0px 10px;
    height: 32px;
    width: 32px;
}
.card-footer{
    display: flex;
}
.d-flex{
    margin: 0 auto;
}
